<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="space-between" fxFlex="100%">
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>home</mat-icon>
      <mat-label>Address Line 1</mat-label>
      <input matInput name = "otherStateCity" [(ngModel)] = "userInfo.otherCountryAddress.addressLine1">
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>home</mat-icon>
      <mat-label>Address Line 2</mat-label>
      <input matInput name = "otherStateCity" [(ngModel)] = "userInfo.otherCountryAddress.addressLine2">
    </mat-form-field>
  </div>

  <div fxLayoutAlign="space-between" fxFlex="100%">
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>home</mat-icon>
      <mat-label>City</mat-label>
      <input matInput name = "otherStateCity" [(ngModel)] = "userInfo.otherCountryAddress.city">
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>home</mat-icon>
      <mat-label>State</mat-label>
      <input matInput name = "otherStateCity" [(ngModel)] = "userInfo.otherCountryAddress.state">
    </mat-form-field>
  </div>

<!--  <div fxLayoutAlign="space-between" fxFlex="100%">-->
<!--    <mat-form-field appearance="fill" fxFlex="40%">-->
<!--      <mat-icon matPrefix>home</mat-icon>-->
<!--      <mat-label>State</mat-label>-->
<!--      <mat-select  name = "otherStateCity" [(ngModel)] = "userInfo.otherCountryAddress.city" matInput placeholder="Kaliakair" required>-->
<!--        <mat-option *ngFor="let policeStation of policeStations | keyvalue"  [value]="policeStation.key" (click)="setPostOffices(policeStation.value)">{{policeStation.key}}</mat-option>-->
<!--      </mat-select>-->
<!--      &lt;!&ndash;      <input name = "parmanentpoliceStation" [(ngModel)] = "userInfo.permanentAddress.policeStation" matInput placeholder="" required>&ndash;&gt;-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill" fxFlex="40%">-->
<!--      <mat-icon matPrefix>home</mat-icon>-->
<!--      <mat-label>City</mat-label>-->
<!--      <mat-select  name = "otherState" [(ngModel)] = "userInfo.otherCountryAddress.state" matInput placeholder="Kaliakair" required>-->
<!--        <mat-option *ngFor="let postOffice of postOffices | keyvalue"  [value]="postOffice.key" (click)="setVillages(postOffice.value)">{{postOffice.key}}</mat-option>-->
<!--      </mat-select>-->
<!--      &lt;!&ndash;      <input name = "permanentPostOffice" [(ngModel)] = "userInfo.permanentAddress.postOffice" matInput placeholder="" required>&ndash;&gt;-->
<!--    </mat-form-field>-->
<!--  </div>-->

</div>
