
<!--[formGroup]="page2Form"-->
<mat-card-title>
  Parsonal Information Form
</mat-card-title>
<form  #form = "ngForm"  (ngSubmit)="page2DataSubmit(form.value)"  fxLayout="row wrap" fxLayoutAlign="space-between" >
  <mat-form-field  appearance="fill" fxFlex="45%"fxFlex.sm="100%" fxFlex.xs="100%" >
    <mat-label>Select Blood Group
      <mat-icon fontIcon=""></mat-icon></mat-label>
    <mat-select name = "userBloodGroup" [(ngModel)] = "userInfo.bloodGroup" required>
      <mat-option *ngFor="let bloodG of bloodGroup" [value] = "bloodG">{{bloodG}}</mat-option>
    </mat-select>
    <span style="color: red" ></span>
  </mat-form-field>

<!--  <mat-form-field  appearance="fill" fxFlex="45%"fxFlex.sm="100%" fxFlex.xs="100%" >-->
<!--    <input matInput formControlName="name">-->
<!--    <span style="color: red" *ngIf="name && name.invalid">This is invalid</span>-->
<!--  </mat-form-field>-->

  <mat-form-field  appearance="fill" fxFlex="45%"fxFlex.sm="100%" fxFlex.xs="100%">
    <mat-label>Madical Disability(if any)</mat-label>

    <mat-select name = "userDisability" [(ngModel)]="userInfo.medicalDisability" required>
      <mat-option *ngFor="let d of diability" [value] = "d">{{d}}</mat-option>
    </mat-select>
<!--    <input  matInput name = "id" [(ngModel)]="userInfo.disability">-->
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex="100%">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="userInfo.dateOfBirth" required>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div fxLayoutAlign="space-between" fxFlex="100%">
    <mat-label>Place of Birth</mat-label>
  </div>
  <app-address></app-address>

<!--  National Id and Passport No-->
  <div fxLayoutAlign="space-between" fxFlex="100%">
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>face</mat-icon>
      <mat-label>National Id No</mat-label>
      <input  matInput name = "userNationalIdNo" [(ngModel)] = "userInfo.nationalIdNo" placeholder="Mahmudur" required>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>face</mat-icon>
      <mat-label>Passport No</mat-label>
      <input matInput name = "userPassportNo" [(ngModel)] = "userInfo.passportNo" placeholder="Rahman" required>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="space-between" fxFlex="100%">
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>face</mat-icon>
      <mat-label>TIN No</mat-label>
      <input matInput name = "userTinNo" [(ngModel)] = "userInfo.tinNo" placeholder="1234" required>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="40%">
      <mat-icon matPrefix>face</mat-icon>
      <mat-label>Marital Status</mat-label>
      <mat-select  name = "userMaritalStatus" [(ngModel)] = "userInfo.maritalStatus" required>
        <mat-option *ngFor="let status of maritalStatus" [value] = "status">{{status}}</mat-option>
      </mat-select>
<!--      <input matInput name = "userMaritalStatus" [(ngModel)] = "userInfo.maritalStatus" placeholder="Rahman" required>-->
    </mat-form-field>
  </div>

  <button  mat-raised-button  style="margin-left: auto;" type="submit">Next</button>
</form>
