
{{updateProgress}}
<mat-progress-bar [value] = "updateProgress"style="margin-bottom: -10px"></mat-progress-bar>
<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template  matStepLabel>Personal Info</ng-template>
      <div  style="margin-top: 20px"></div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" >
    <form [formGroup]="secondFormGroup" >
      <ng-template matStepLabel> Page2
      </ng-template>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
  </mat-step>
</mat-stepper>


<!--<router-outlet></router-outlet>-->
